{% include 'header.html' %}

<!DOCTYPE html>
<html>
<head>
    <title>Weather Information for {{ weather_data.location }}</title>
</head>
<p>Weather results for {{ weather_data.location }}</p>


<body>
    <h1>Weather Information</h1>
    
    <p>Location: {{ weather_data.location }}</p>
        <p>Time: {{ weather_data.time  }}</p> <!-- Format the date here -->
    <p>Temperature: {{ weather_data.temperature }}°C</p>
    <p>Precipitation: {{ weather_data.precipitation }}</p>
    <p>Wind Speed: {{ weather_data.wind_speed }} km/h</p>
    <p>Wind Direction: {{ weather_data.wind_direction }}</p>
    <p>Humidity: {{ weather_data.humidity }}%</p>
    <p>Pressure: {{ weather_data.pressure }} mb</p>
    <p>Visibility: {{ weather_data.visibility }} km</p>
    <p>Cloud Cover: {{ weather_data.cloud_cover }}%</p>

    <!-- Add more weather attributes as needed -->

{% include 'urls.html' %}
    <a href="/">Go back to the home page</a>
</body>
</html>

{% include 'footer.html' %}
